<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto+Condensed&display=swap" rel="stylesheet">
    <style>
    h1{
        color: blue;
    }
    nav{
        background-color: gray;
    }
    ul li:hover{
        color: greenyellow;
    }
    
    #urlToImage{
        width: 250px;
        height: 350px;
    }

    *{
        background-color: rgb(32, 204, 32);
        font-family: 'Merriweather',serif;
    }
    span{
        color:greenyellow;
    }
    #top{
        font-size: x-large;
        font-family: 'Robot',serif;
    }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    {% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container">
		<!-- Business News Section  -->
        <h3> Top Business News Sources</h3>
        <hr>

        {{ macro.displaySourceList(news)}}

         <h3> Top Sports News Sources</h3> 

         {{ macro.displaySourceList(news)}}    

         <h3> Top Technology News Sources</h3> 
         
         {{ macro.displaySourceList(news)}}    


         <h3> Top Entertainment News Sources</h3> 
         
         {{ macro.displaySourceList(news)}}    
  
	
</div>


{%endblock%}
</body>
</html>
